<div class="filters">
  <form action="">
    <div>
      <input class="pattern-search" type="text" name="patternSearch">
      <button class="pattern-search" type="submit" class="btn">Search</button>
    </div>
  </form>
  
<div *ngIf="creatingPattern">
  <form #registerForm="ngForm" (ngSubmit)="submitPattern()" class="register">
    <div class="form-section">
      <label for="url">Pattern Url:</label>
      <input type="text" name="url" [(ngModel)]="model.url" placeholder="https://www.patterns.com/new-pattern">
    </div>
    <div class="form-section">
      <label for="title">Title</label>
      <input type="text" name="title" [(ngModel)]="model.title" placeholder="New Example">
    </div>
    <div class="form-section">
      <label for="description">Description</label>
      <input type="text" name="description" [(ngModel)]="model.description" placeholder="A new pattern that makes an great example.">
    </div>
    <div>
      <button class="btn" type="submit">Create</button>
      <button class="btn" type="button" (click)="createPattern()">Cancel</button>
    </div>  
  </form>
</div>
  <div>
    <h3 class="btn" (click)="createPattern()">Add New Pattern</h3>
  </div>
</div>

<div class="gallery">
  <div class="pattern-result" *ngFor="let pattern of patterns">
      <img class="pattern-image" src="https://picsum.photos/200/300" alt="">
      <div class="pattern-details">
        <h4>{{ pattern.title }}</h4>
        <p>{{ pattern.description }}</p>
      </div>
  </div>
</div>
