<div [ngClass]="{loggedIn: loggedIn}">
  <mat-toolbar class="accent">
    <app-sidebar></app-sidebar>
    <span class="title">{{title}}</span>
    <div *ngIf="loggedIn">
      <button class="btn account-btn">
        <a [routerLink]="['home/account']">My Account</a>
      </button>
    </div>
    <div>
      <button class="btn logout-btn"  (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>
</div>
<div class="content-body">
  <router-outlet (loggingIn)="logIn($event)"></router-outlet>
</div>
  
  
