$primary-color: rgba(247, 164, 194, .80);
$secondary-color: rgba(201, 226, 222, .7);
$primary-color-light: rgba(247, 164, 194, .40);
$accent-color: rgb(206, 85, 131);
$overlay-color: rgba(206, 143, 167, 0.85);


$xs-break: 600px;
$sm-break: 768px;
$md-break: 992px;
$lg-break: 1200px;
/* @media only screen and (min-width: $sm-break) */
