@import '../../scss/variables';
@media only screen and (min-width: 600px){
    .overlay{
        height: 200vh;
        width: 150vw;
        left: -100vw;
        top: -50%;
        border-radius: 50%;
    }
    form.login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        top: 40%;
        right: -30%;
    }
}
.overlay{
    position: absolute;
    z-index: 2;
}
@media only screen and (max-width: 600px){
    .overlay{
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        border-radius: 0%;
    }
    form.login {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 4em;
        justify-content: center;
        text-align: center;
        position: relative;
        top: calc(50vh - 4em);
    }
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;

}
.background{
    content: '';
    background: url('https://cdn.pixabay.com/photo/2016/01/20/11/15/hand-labor-1151365_960_720.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
input{
    border-radius: 10px;
    height: 2.25rem;
    padding: .75rem;
    margin: .5rem;
    border-color: white;
}


h1{
    font-size: 3.5rem;
    color: $accent-color;
    position: relative;
}
.btn{
    display: inline-block;
    border: solid;
    background-color: $primary-color;
    color: $accent-color;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    transition: all .7s ease-in;
}
.btn:hover{
    opacity: 0.55;
}

